Repository jfrog/jfrog-cli, pull requests merged in 2022-06, with the labels that each got.

#1552 Duplicate build-info's artifacts are counted by their paths instead of their names
  artifactory_test.go
  go.mod
  go.sum
Labels: bug, safe to test

#1554 Remove repository name from artifacts' path field in the build-info JSON
  go.mod
  go.sum
Labels: safe to test, breaking change

#1354 Adding tests to 'xr curl' command
  go_test.go
  main_test.go
  nuget_test.go
  xray_test.go
Labels: safe to test, ignore for release

#1470 Make all config commands - atomic
  .github/workflows/analysis.yml
  access_test.go
  artifactory/cli.go
  artifactory_test.go
  config/cli.go
  general/cisetup/cisetup.go
  go.mod
  go.sum
  missioncontrol/cli.go
  utils/cliutils/utils.go
Labels: bug, safe to test

#1563 Remove redundant git test that moved to client
  buildinfo_test.go
  utils/tests/utils.go
Labels: safe to test, ignore for release

#1564 Add a tree view to artifacts deployment
  artifactory/cli.go
  artifactory_test.go
  buildinfo_test.go
  buildtools/cli.go
  distribution_test.go
  docker_test.go
  general/cisetup/cisetup.go
  go.mod
  go.sum
  go_test.go
  gradle_test.go
  main_test.go
  maven_test.go
  npm_test.go
  utils/cliutils/testdata/reader/printcommandsummary.json
  utils/cliutils/utils.go
  utils/cliutils/utils_test.go
  utils/progressbar/progressbar.go
  utils/tests/consts.go
  utils/tests/utils.go
Labels: safe to test, new feature

#1572 Change transfer threads number
  artifactory/cli.go
  docs/artifactory/transfersettings/help.go
  go.mod
  go.sum
Labels: safe to test, 🐸 frogbot scan, new feature

#1568 Fix deprecated progress bar constructor function
  utils/progressbar/filesprogressbar.go
Labels: safe to test, improvement

#1557 Audit Yarn
  artifactory_test.go
  go.mod
  go.sum
  scan/cli.go
  testdata/xray/yarn/.yarn/releases/yarn-3.2.1.cjs
  testdata/xray/yarn/.yarnrc.yml
  testdata/xray/yarn/package.json
  testdata/xray/yarn/yarn.lock
  utils/cliutils/commandsflags.go
  xray_test.go
Labels: safe to test, new feature

#1576 Remove emojis from non-supported terminals and also from build-add-git commit message collection
  artifactory/cli.go
  artifactory_test.go
  buildtools/cli.go
  general/cisetup/cisetup.go
  go.mod
  go.sum
  main_test.go
  maven_test.go
  utils/progressbar/filesprogressbar.go
  xray_test.go
Labels: safe to test, improvement

#1577 Update build-info-go version
  go.mod
  go.sum
Labels: safe to test, improvement

#1569 Execute audit command with progress bar
  go.mod
  go.sum
  scan/cli.go
Labels: safe to test, 🐸 frogbot scan, improvement

#1562 Added Xray offline-update flags to support Xray's DBSync V3 flags
  go.mod
  go.sum
  utils/cliutils/commandsflags.go
  xray/cli.go
Labels: safe to test
