Repository jfrog/jfrog-cli, pull requests merged in 2022-05, with the labels that each got.

#1527 Missing npm dependencies may return an error
  go.mod
  go.sum
Labels: bug, safe to test

#1516 Add tests for executing commands with progress bar
  artifactory_test.go
  general/cisetup/cisetup.go
  general/envsetup/envsetup.go
  go.mod
  go.sum
  plugins/commands/install.go
  plugins_test.go
  utils/progressbar/progressbar.go
  utils/tests/utils.go
  xray_test.go
Labels: safe to test, ignore for release

#1530 Expose the terraform commands in JFrog CLI's embedded help
  artifactory_test.go
  buildtools/cli.go
Labels: safe to test

#1528 Setup command for Docker Desktop extension
  general/envsetup/envsetup.go
  go.mod
  go.sum
  main.go
  utils/cliutils/commandsflags.go
Labels: safe to test, ignore for release

#1534 Upgrade jfrog-client-go, jfrog-cli-core & golang.org/x/crypto
  go.mod
  go.sum
Labels: safe to test

#1535 Fix scan/docker-scan json output whit progress bar
  docker_test.go
  go.mod
  go.sum
  xray_test.go
Labels: bug, safe to test

#1540 Warn about no servers configured in cURL commands
  artifactory/cli.go
  xray/cli.go
Labels: safe to test, improvement

#1519 Add a build-info UI link to the output of the Build Publish command
  buildinfo_test.go
  go.mod
  go.sum
Labels: feature request, safe to test

#1545 Fix audit results overriding issue
  go.mod
  go.sum
Labels: bug, safe to test

#1547 Update jfrog-cli-core dependency to v2.14.1
  go.mod
  go.sum
Labels: safe to test, ignore for release

#1549 Fix: Terraform module layout in Artifactory
  artifactory_test.go
  go.mod
  go.sum
  utils/tests/consts.go
Labels: bug, safe to test

#1550 Improvement: setup command
  access_test.go
  go.mod
  go.sum
Labels: safe to test, improvement

#1542 Fix: .NET dependencies not found when project is not located under solution directory
  go.mod
  go.sum
  nuget_test.go
  testdata/nuget/differentlocations/solutions/differentlocations.sln
  testdata/nuget/differentlocations/src/proj1/proj1.cs
  testdata/nuget/differentlocations/src/proj1/proj1.csproj
  testdata/nuget/differentlocations/src/proj2/proj2.cs
  testdata/nuget/differentlocations/src/proj2/proj2.csproj
Labels: bug, safe to test

#1551 Fix: Scanning password from console fails when run from script
  go.mod
  go.sum
Labels: bug, safe to test
